<div>
  <header>
    <h1>Stock app</h1>
    <h3>Simple stock price analyzer</h3>
  </header>

  <div class="container">
    <csv-reader></csv-reader>
    <mat-divider class="divider"></mat-divider>
    <app-tracker class="item"></app-tracker>
  </div>

  <!-- footer links -->
  <footer>
    <p>Site made by <a (click)="clickPersonal()">Ville Kautto</a>  </p>
    <p>Powered by <a (click)="clickAngular()">Angular </a> & <a (click)="clickMaterial()">material</a></p>
    <p>Source code on <a (click)="clickGithub()">GitHub</a></p>
  </footer>
</div>

<router-outlet></router-outlet>
