header, footer {
    text-align: center;
    padding: 40px 0;
    margin: 10px 0;
    border: 1px solid black;
}

.container {
    text-align: center;
}

.item {
    margin-bottom: 50px;
}

.divider {
    margin: 20px 0;
}