<div>
  <header>
    <h1>Stock Analyzer</h1>
    <h3>Stock price tracker</h3>
  </header>

  <div class="container">
    <csv-reader></csv-reader>
    <mat-divider class="divider"></mat-divider>
    <app-datepicker class="item"></app-datepicker>
    <mat-divider class="divider"></mat-divider>
    <app-tracker class="item"></app-tracker>
  </div>
  

  <footer>
    <p>Site made by Ville Kautto</p>
    <p>Powered by Angular & material</p>
    <p>Source code on GitHub</p>
  </footer>
</div>

<router-outlet></router-outlet>
